.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
    color: black;
}

.login-section {
    height: 100vh;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #6756ff1f;
}

.login-container {
    text-align: center;
}

.login-container h2 {
    margin-bottom: 10px;
}

.login-container p {
    margin-bottom: 20px;
}

.login-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container a {
    color: #4CAF50;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}